{% extends 'base.html.twig' %}
{% block title %}
User Thang by ClintG in Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }} 
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
        <img src="/images/tes_logo.png" class="img-responsive" />
        </div>
    </div>
    Default
</div>
{% endblock %}