@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

body {
	padding-top: 70px;
}

h4, h3, h1, .navbar-brand {
   /*
   font-family: 'Permanent Marker', cursive;
    */
    font-family: 'Abril Fatface', cursive;
}

.bg-color {
	background-color: rgb(249,161,27);
    background-color: rgba(249,161,27,0.4);
    color: #000;
}